[[source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
ipython = "*"
v = {editable = true,version = "*"}
pytest = "*"
pylint = "*"
yapf = "*"
jupyter = "*"

[packages]
pandas = "*"
vnpy = "*"
numpy = "*"
matplotlib = "*"
torch = "*"
gym = "*"
scikit-learn = "*"

[requires]
python_version = "3.7.1"
